mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.title {
    flex: 1;
    text-align: left;
}

.links {
    display: flex;
    justify-content: center;
    flex: 2;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

.empty {
    flex: 1;
    /* Conteneur vide sur la droite */
}

/* Ajustements responsifs */
@media (max-width: 768px) {
    mat-toolbar {
        flex-direction: column;
        align-items: center;
        padding: 8px;
        height: auto;
    }

    .title {
        flex: 0;
        text-align: center;
        margin-bottom: 8px;
    }

    .links {
        flex: 0;
        width: 100%;
        justify-content: center;
        margin-bottom: 8px;
    }

    ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
    }

    a {
        font-size: 16px;
    }

    .empty {
        display: none;
    }
}

/* Marges pour éviter le chevauchement sous responsive*/
.main-content {
    margin-top: 64px;
}