mat-card {
    margin-bottom: 20px;
    background-color: white;
}

mat-card-title span {
    color: black;
}

mat-card-subtitle span {
    color: gray; 
}


.post-content {
    margin-top: 10px;
    background-color: white;
}
